In [96]:
import pandas as pd
from datetime import datetime

In [97]:
job = '220420-LR-Sailtesting'
directory = '/mnt/home/9.0 Data Jobs/'+job+'/all_csv_data/' # define directory
out_dir = '/mnt/home/9.0 Data Jobs/'+job+'/all_csv_data/'

In [67]:
sailmon_fileName = '2022-04-20-mr-pb.csv'
sailmon = pd.read_csv(directory+sailmon_fileName, index_col=False)
sailmon.rename(columns={'time': 'timeStamp'}, inplace=True)
sailmon['timeStamp'] = pd.to_datetime(sailmon.timeStamp, format="%Y-%m-%d %H:%M:%S").dt.round('1s')

In [68]:
ts_timeStart = sailmon.timeStamp[0]
ts_timeEnd = list(sailmon.timeStamp)[-1]
print("The first timestamp is ", ts_timeStart)
print("The Final Time Stamp is ", ts_timeEnd)

try:
    ts_correct = datetime.strptime(input("Please enter what first time stamp should read"), '%Y-%m-%d %H:%M:%S')

except:
    ts_correct = ts_time

ts_delta = ts_correct - ts_timeStart

The first timestamp is  2022-04-20 03:14:18
The Final Time Stamp is  2022-04-20 07:19:56
Please enter what first time stamp should read2022-04-20 13:14:18

In [69]:
ts_delta

Timedelta('0 days 10:00:00')

In [70]:
sailmon['timeStamp'] = sailmon.timeStamp+ts_delta

In [71]:
ts_timeStart = sailmon.timeStamp[0]
ts_timeEnd = list(sailmon.timeStamp)[-1]
print("The first timestamp is ", ts_timeStart)
print("The Final Time Stamp is ", ts_timeEnd)

The first timestamp is  2022-04-20 13:14:18
The Final Time Stamp is  2022-04-20 17:19:56

In [72]:
sailmon

,timeStamp,latitude,longitude,speed,HDT - Heading True,SOG - Speed over Ground,COG - Course over Ground,TWA - True Wind Angle,TWD - True Wind Direction,Heel,Trim Fore / Aft,GPS Satellites,GPS HAcc
0,2022-04-20 13:14:18,-33.847963,151.219977,0.052124,95.38,0.052124,95.54,NaN,NaN,-9.56,0.86,5,9.7810
1,2022-04-20 13:14:19,-33.847961,151.220067,0.061250,93.73,0.061250,93.89,NaN,NaN,-9.69,0.48,7,6.2770
2,2022-04-20 13:14:20,-33.847951,151.220085,0.067645,92.11,0.067645,92.28,NaN,NaN,-9.90,0.14,7,5.3200
3,2022-04-20 13:14:21,-33.847942,151.220097,0.056629,90.62,0.056629,90.75,NaN,NaN,-9.86,-0.09,7,4.7810
4,2022-04-20 13:14:22,-33.847935,151.220103,0.063106,89.27,0.063106,89.40,NaN,NaN,-9.89,-0.32,7,4.5080
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14615,2022-04-20 17:19:52,-33.847638,151.220158,0.504074,202.17,0.504074,202.17,0.90,203.08,-3.07,0.75,15,0.8115
14616,2022-04-20 17:19:53,-33.847642,151.220157,0.481857,202.42,0.481857,202.42,0.66,203.08,-1.37,0.47,15,0.8140
14617,2022-04-20 17:19:54,-33.847647,151.220156,0.437880,203.91,0.437880,203.91,-0.83,203.08,-3.47,1.36,15,0.8169
14618,2022-04-20 17:19:55,-33.847651,151.220154,0.520122,204.75,0.520122,192.65,10.42,203.08,-4.38,1.20,15,0.8130
14619,2022-04-20 17:19:56,-33.847654,151.220152,0.431256,205.42,0.431256,205.42,-2.35,203.08,-1.81,1.15,15,0.8086

In [103]:
allData = pd.DataFrame(data = sailmon[['timeStamp', 'latitude', 'longitude', 'speed', 'HDT - Heading True', 'COG - Course over Ground', 'Heel']])

In [104]:
allData.rename(columns = {'HDT - Heading True': 'HDG','COG - Course over Ground': 'COG' }, inplace=True)
allData

,timeStamp,latitude,longitude,speed,HDG,COG,Heel
0,2022-04-20 13:14:18,-33.847963,151.219977,0.052124,95.38,95.54,-9.56
1,2022-04-20 13:14:19,-33.847961,151.220067,0.061250,93.73,93.89,-9.69
2,2022-04-20 13:14:20,-33.847951,151.220085,0.067645,92.11,92.28,-9.90
3,2022-04-20 13:14:21,-33.847942,151.220097,0.056629,90.62,90.75,-9.86
4,2022-04-20 13:14:22,-33.847935,151.220103,0.063106,89.27,89.40,-9.89
...,...,...,...,...,...,...,...
14615,2022-04-20 17:19:52,-33.847638,151.220158,0.504074,202.17,202.17,-3.07
14616,2022-04-20 17:19:53,-33.847642,151.220157,0.481857,202.42,202.42,-1.37
14617,2022-04-20 17:19:54,-33.847647,151.220156,0.437880,203.91,203.91,-3.47
14618,2022-04-20 17:19:55,-33.847651,151.220154,0.520122,204.75,192.65,-4.38
14619,2022-04-20 17:19:56,-33.847654,151.220152,0.431256,205.42,205.42,-1.81

In [105]:
vSp_fileName = 'vSp_gp.csv'
gate = pd.read_csv(directory+vSp_fileName, index_col=0)
gate['timeStamp'] = pd.to_datetime(gate['timeStamp'], format = "%Y:%m:%d %H:%M:%S")
gate.drop(columns = ['Dot', 'Count', 'file'], inplace = True)
gate

                 timeStamp    measure
1534.0 2022-04-20 15:04:17   7.084229
5483.0 2022-04-20 15:04:18   7.045991
2257.0 2022-04-20 15:04:19   7.138736
521.0  2022-04-20 15:04:20   7.122467
3053.0 2022-04-20 15:04:21   7.045991
...                    ...        ...
6533.0 2022-04-20 17:13:39  30.770360
2499.0 2022-04-20 17:13:40  30.737821
7126.0 2022-04-20 17:13:41  30.601140
5714.0 2022-04-20 17:13:42  28.072581
493.0  2022-04-20 17:13:43  29.628928

[6334 rows x 2 columns]

In [106]:
allData = allData.merge(gate, how = 'left', left_on='timeStamp', right_on='timeStamp')
allData.rename(columns = {'measure': 'mastGate'}, inplace = True)

In [107]:
allData

,timeStamp,latitude,longitude,speed,HDG,COG,Heel,mastGate
0,2022-04-20 13:14:18,-33.847963,151.219977,0.052124,95.38,95.54,-9.56,NaN
1,2022-04-20 13:14:19,-33.847961,151.220067,0.061250,93.73,93.89,-9.69,NaN
2,2022-04-20 13:14:20,-33.847951,151.220085,0.067645,92.11,92.28,-9.90,NaN
3,2022-04-20 13:14:21,-33.847942,151.220097,0.056629,90.62,90.75,-9.86,NaN
4,2022-04-20 13:14:22,-33.847935,151.220103,0.063106,89.27,89.40,-9.89,NaN
...,...,...,...,...,...,...,...,...
14615,2022-04-20 17:19:52,-33.847638,151.220158,0.504074,202.17,202.17,-3.07,NaN
14616,2022-04-20 17:19:53,-33.847642,151.220157,0.481857,202.42,202.42,-1.37,NaN
14617,2022-04-20 17:19:54,-33.847647,151.220156,0.437880,203.91,203.91,-3.47,NaN
14618,2022-04-20 17:19:55,-33.847651,151.220154,0.520122,204.75,192.65,-4.38,NaN
14619,2022-04-20 17:19:56,-33.847654,151.220152,0.431256,205.42,205.42,-1.81,NaN

In [108]:
loads_fileName = '220420loads.csv'
loadcells = pd.read_csv(directory+loads_fileName, index_col=False)
loadcells.rename(columns={'Timestamp': 'timeStamp'}, inplace=True)
loadcells['timeStamp'] = pd.to_datetime(loadcells.timeStamp, format="%Y-%m-%d %H:%M:%S").dt.round('1s')
loadcells['Mainsheet'] = 2*loadcells.Mainsheet
loadcells['Backstay'] = 2*loadcells.Backstay
loadcells.drop(columns =[' Latitude', ' Longitude', ' Heading'], inplace = True)

In [109]:
loadcells

               timeStamp  Backstay  Forestay  Mainsheet
0    2022-04-20 15:02:56       NaN       NaN        NaN
1    2022-04-20 15:02:57      68.0     111.0        0.0
2    2022-04-20 15:02:58      68.0     100.0        0.0
3    2022-04-20 15:02:59      68.0     109.0        0.0
4    2022-04-20 15:03:00      68.0     110.0        0.0
...                  ...       ...       ...        ...
8021 2022-04-20 17:16:37       0.0      69.0        0.0
8022 2022-04-20 17:16:38       0.0      58.0        0.0
8023 2022-04-20 17:16:39       0.0      58.0        0.0
8024 2022-04-20 17:16:40       0.0      58.0        0.0
8025 2022-04-20 17:16:41       0.0      40.0        0.0

[8026 rows x 4 columns]

In [110]:
allData = allData.merge(loadcells, how = 'left', left_on='timeStamp', right_on='timeStamp')

In [111]:
allData.rename(columns={'timeStamp': 'time'}, inplace=True)

In [112]:
allData

,time,latitude,longitude,speed,HDG,COG,Heel,mastGate,Backstay,Forestay,Mainsheet
0,2022-04-20 13:14:18,-33.847963,151.219977,0.052124,95.38,95.54,-9.56,NaN,NaN,NaN,NaN
1,2022-04-20 13:14:19,-33.847961,151.220067,0.061250,93.73,93.89,-9.69,NaN,NaN,NaN,NaN
2,2022-04-20 13:14:20,-33.847951,151.220085,0.067645,92.11,92.28,-9.90,NaN,NaN,NaN,NaN
3,2022-04-20 13:14:21,-33.847942,151.220097,0.056629,90.62,90.75,-9.86,NaN,NaN,NaN,NaN
4,2022-04-20 13:14:22,-33.847935,151.220103,0.063106,89.27,89.40,-9.89,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14615,2022-04-20 17:19:52,-33.847638,151.220158,0.504074,202.17,202.17,-3.07,NaN,NaN,NaN,NaN
14616,2022-04-20 17:19:53,-33.847642,151.220157,0.481857,202.42,202.42,-1.37,NaN,NaN,NaN,NaN
14617,2022-04-20 17:19:54,-33.847647,151.220156,0.437880,203.91,203.91,-3.47,NaN,NaN,NaN,NaN
14618,2022-04-20 17:19:55,-33.847651,151.220154,0.520122,204.75,192.65,-4.38,NaN,NaN,NaN,NaN
14619,2022-04-20 17:19:56,-33.847654,151.220152,0.431256,205.42,205.42,-1.81,NaN,NaN,NaN,NaN

In [113]:
allData.to_csv(out_dir+'allData.csv')

In [7]:
sailmon_fileName = '2022-04-06-mr-pb.csv'
sailmon = pd.read_csv(directory+sailmon_fileName, index_col=False)
sailmon.rename(columns={'time': 'timeStamp'}, inplace=True)
sailmon['timeStamp'] = pd.to_datetime(sailmon.timeStamp, format="%Y-%m-%d %H:%M:%S").dt.round('1s')

In [8]:

ts_time = sailmon.timeStamp[0]
print("The first timestamp is ", ts_time)

The first timestamp is  2022-04-06 05:11:34

Please enter what first time stamp should read2022-04-06 17:11:34

In [10]:
sailmon['timeStamp'] = sailmon.timeStamp+ts_delta

In [11]:
sailmon.timeStamp

0      2022-04-06 17:11:34
1      2022-04-06 17:11:35
2      2022-04-06 17:11:36
3      2022-04-06 17:11:37
4      2022-04-06 17:11:38
               ...
9427   2022-04-06 19:49:03
9428   2022-04-06 19:49:04
9429   2022-04-06 19:49:05
9430   2022-04-06 19:49:06
9431   2022-04-06 19:49:06
Name: timeStamp, Length: 9432, dtype: datetime64[ns]

In [12]:
joined.timeStamp[400]

Timestamp('2022-04-06 16:19:56')

In [13]:
sailmon.timeStamp[500]

Timestamp('2022-04-06 17:19:55')

In [14]:
joined = sailmon.merge(joined,how = 'inner', left_on='timeStamp', right_on='timeStamp')

In [15]:
joined['TWS'] = 16
joined['TWD'] = 200
joined.count()

timeStamp                    2000
latitude                     2000
longitude                    2000
speed                        2000
HDT - Heading True           2000
SOG - Speed over Ground      2000
COG - Course over Ground     2000
TWA - True Wind Angle           0
TWD - True Wind Direction       0
Heel                         2000
Trim Fore / Aft              2000
GPS Satellites               2000
GPS HAcc                     2000
 Latitude                    2000
 Longitude                   2000
 Heading                     2000
Backstay                     1745
Forestay                     2000
Mainsheet                    1962
Dot                          1996
Count                        1996
file                         1996
measure                      1996
TWS                          2000
TWD                          2000
dtype: int64

In [ ]:
joined.to_csv(out_dir+'allData.csv')

In [19]:
joined

,timeStamp,Latitude,Longitude,Heading,Backstay,Forestay,Mainsheet,Dot,Count,file,measure
0,2022-04-06 16:13:16,-33.847703,151.220149,266.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-06 16:13:17,-33.847703,151.220149,266.6,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,2022-04-06 16:13:18,-33.847703,151.220149,265.6,0.0,40.0,0.0,NaN,NaN,NaN,NaN
3,2022-04-06 16:13:19,-33.847703,151.220149,263.4,0.0,42.0,0.0,NaN,NaN,NaN,NaN
4,2022-04-06 16:13:20,-33.847703,151.220149,222.7,0.0,42.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5627,2022-04-06 17:47:06,NaN,NaN,NaN,NaN,NaN,NaN,55.089924,544.0,G0035145.JPG,9.253412
5628,2022-04-06 17:47:07,NaN,NaN,NaN,NaN,NaN,NaN,55.086238,544.0,G0035146.JPG,9.249499
5629,2022-04-06 17:47:08,NaN,NaN,NaN,NaN,NaN,NaN,55.093610,542.0,G0035147.JPG,9.257325
5630,2022-04-06 17:47:09,NaN,NaN,NaN,NaN,NaN,NaN,55.056753,490.0,G0035148.JPG,9.218194
5631,2022-04-06 17:47:10,NaN,NaN,NaN,NaN,NaN,NaN,55.110195,505.0,G0035149.JPG,9.274934