In [9]:
import pandas as pd
from datetime import datetime
import os

In [5]:
job = '220510-LR-mayTesting'
directory = 'H:\\9.0 Data Jobs\\' +job+'all_csv_data\\' # define directory
out_dir = '/mnt/home/9.0 Data Jobs/'+job+'/all_csv_data/'

In [48]:
directory = os.path.join("H:","9.0 Data Jobs",job,"all_csv_data")
out_dir = os.path.join("H:","9.0 Data Jobs",job,"all_csv_data")

In [101]:
sailmon_fileName = '2022-05-07-mr-pb.csv'
sailmon = pd.read_csv(os.path.join(directory,sailmon_fileName), index_col=False)
sailmon.rename(columns={'time': 'timeStamp'}, inplace=True)
sailmon['timeStamp'] = pd.to_datetime(sailmon.timeStamp, format="%Y-%m-%d %H:%M:%S").dt.round('1s')

In [102]:
ts_timeStart = sailmon.timeStamp[0]
ts_timeEnd = list(sailmon.timeStamp)[-1]
print("The first timestamp is ", ts_timeStart)
print("The Final Time Stamp is ", ts_timeEnd)

The first timestamp is  2022-05-06 23:05:51
The Final Time Stamp is  2022-05-07 01:35:22

In [103]:

try:
    ts_correct = datetime.strptime(input("Please enter what first time stamp should read"), '%Y-%m-%d %H:%M:%S')

except:
    ts_correct = ts_time

ts_delta = ts_correct - ts_timeStart

In [104]:
ts_delta

Timedelta('0 days 10:00:00')

In [105]:
sailmon['timeStamp'] = sailmon.timeStamp+ts_delta

In [106]:
ts_timeStart = sailmon.timeStamp[0]
ts_timeEnd = list(sailmon.timeStamp)[-1]
print("The first timestamp is ", ts_timeStart)
print("The Final Time Stamp is ", ts_timeEnd)

The first timestamp is  2022-05-07 09:05:51
The Final Time Stamp is  2022-05-07 11:35:22

In [107]:
sailmon

,timeStamp,latitude,longitude,speed,HDT - Heading True,SOG - Speed over Ground,COG - Course over Ground,Heel,Trim Fore / Aft,GPS Satellites,GPS HAcc
0,2022-05-07 09:05:51,-33.847310,151.220446,0.170147,251.87,0.170147,252.17,1.80,16.55,3,10.9700
1,2022-05-07 09:05:52,-33.847309,151.220405,0.314067,250.14,0.314067,250.23,1.71,16.85,3,9.7970
2,2022-05-07 09:05:53,-33.847311,151.220382,0.431198,250.27,0.431198,250.27,1.81,17.04,3,8.9140
3,2022-05-07 09:06:07,-33.847221,151.220215,1.232110,330.89,1.232114,332.86,-7.16,-2.61,5,15.4100
4,2022-05-07 09:06:08,-33.847327,151.219893,1.085690,334.25,1.085686,334.12,-7.77,-3.09,7,3.9960
...,...,...,...,...,...,...,...,...,...,...,...
8954,2022-05-07 11:35:18,-33.847696,151.220158,0.041627,187.33,0.041627,187.27,0.21,2.70,16,0.5117
8955,2022-05-07 11:35:19,-33.847696,151.220158,0.053823,187.23,0.053823,187.28,-0.23,3.03,16,0.5146
8956,2022-05-07 11:35:20,-33.847696,151.220158,0.044265,187.22,0.044265,187.22,-1.36,3.03,15,0.5166
8957,2022-05-07 11:35:21,-33.847696,151.220158,0.041752,187.82,0.041752,187.75,-0.37,3.04,16,0.5137
8958,2022-05-07 11:35:22,-33.847696,151.220158,0.050318,188.36,0.050318,188.32,-0.16,2.66,16,0.5127

In [108]:
allData = pd.DataFrame(data = sailmon[['timeStamp', 'latitude', 'longitude', 'speed', 'HDT - Heading True', 'COG - Course over Ground', 'Heel']])

In [109]:
allData.rename(columns = {'HDT - Heading True': 'HDG','COG - Course over Ground': 'COG' }, inplace=True)
allData

,timeStamp,latitude,longitude,speed,HDG,COG,Heel
0,2022-05-07 09:05:51,-33.847310,151.220446,0.170147,251.87,252.17,1.80
1,2022-05-07 09:05:52,-33.847309,151.220405,0.314067,250.14,250.23,1.71
2,2022-05-07 09:05:53,-33.847311,151.220382,0.431198,250.27,250.27,1.81
3,2022-05-07 09:06:07,-33.847221,151.220215,1.232110,330.89,332.86,-7.16
4,2022-05-07 09:06:08,-33.847327,151.219893,1.085690,334.25,334.12,-7.77
...,...,...,...,...,...,...,...
8954,2022-05-07 11:35:18,-33.847696,151.220158,0.041627,187.33,187.27,0.21
8955,2022-05-07 11:35:19,-33.847696,151.220158,0.053823,187.23,187.28,-0.23
8956,2022-05-07 11:35:20,-33.847696,151.220158,0.044265,187.22,187.22,-1.36
8957,2022-05-07 11:35:21,-33.847696,151.220158,0.041752,187.82,187.75,-0.37
8958,2022-05-07 11:35:22,-33.847696,151.220158,0.050318,188.36,188.32,-0.16

In [110]:
vSp_fileName = 'vSp_gp+220507.csv'
gate = pd.read_csv(os.path.join(directory,vSp_fileName), index_col=0)
gate['timeStamp'] = pd.to_datetime(gate['timeStamp'], format = "%Y:%m:%d %H:%M:%S")
gate.drop(columns = ['Dot', 'Count', 'file'], inplace = True)
gate

                 timeStamp    measure
252.0  2022-05-07 09:05:04  12.007387
7699.0 2022-05-07 09:05:05  10.757359
1688.0 2022-05-07 09:05:06  10.729963
6323.0 2022-05-07 09:05:07   9.329254
6070.0 2022-05-07 09:05:08   8.134018
...                    ...        ...
506.0  2022-05-07 11:26:38  -0.383308
3981.0 2022-05-07 11:26:39  -0.355912
3778.0 2022-05-07 11:26:40  -3.364547
2617.0 2022-05-07 11:26:41  -0.410705
7097.0 2022-05-07 11:26:59  -0.397006

[7027 rows x 2 columns]

In [111]:
allData = allData.merge(gate, how = 'left', left_on='timeStamp', right_on='timeStamp')
allData.rename(columns = {'measure': 'mastGate'}, inplace = True)

In [112]:
allData

,timeStamp,latitude,longitude,speed,HDG,COG,Heel,mastGate
0,2022-05-07 09:05:51,-33.847310,151.220446,0.170147,251.87,252.17,1.80,13.353304
1,2022-05-07 09:05:52,-33.847309,151.220405,0.314067,250.14,250.23,1.71,16.678742
2,2022-05-07 09:05:53,-33.847311,151.220382,0.431198,250.27,250.27,1.81,12.212862
3,2022-05-07 09:06:07,-33.847221,151.220215,1.232110,330.89,332.86,-7.16,13.216321
4,2022-05-07 09:06:08,-33.847327,151.219893,1.085690,334.25,334.12,-7.77,13.230019
...,...,...,...,...,...,...,...,...
8961,2022-05-07 11:35:18,-33.847696,151.220158,0.041627,187.33,187.27,0.21,NaN
8962,2022-05-07 11:35:19,-33.847696,151.220158,0.053823,187.23,187.28,-0.23,NaN
8963,2022-05-07 11:35:20,-33.847696,151.220158,0.044265,187.22,187.22,-1.36,NaN
8964,2022-05-07 11:35:21,-33.847696,151.220158,0.041752,187.82,187.75,-0.37,NaN
8965,2022-05-07 11:35:22,-33.847696,151.220158,0.050318,188.36,188.32,-0.16,NaN

In [113]:
loads_fileName = 'Lisa rose 7may.csv'
loadcells = pd.read_csv(os.path.join(directory,loads_fileName), index_col=False)
loadcells.rename(columns={'Timestamp': 'timeStamp'}, inplace=True)
loadcells['timeStamp'] = pd.to_datetime(loadcells.timeStamp, format="%Y-%m-%d %H:%M:%S").dt.round('1s')
loadcells['Mainsheet'] = 2*loadcells.Mainsheet
loadcells['Backstay'] = 2*loadcells.Backstay
loadcells.drop(columns =[' Latitude', ' Longitude', ' Heading'], inplace = True)

In [114]:
loadcells

               timeStamp  Backstay  Forestay  Mainsheet
0    2022-05-07 09:03:19       NaN       NaN        NaN
1    2022-05-07 09:03:20      52.0      81.0        0.0
2    2022-05-07 09:03:21      52.0      81.0        0.0
3    2022-05-07 09:03:22      52.0      81.0        0.0
4    2022-05-07 09:03:23      52.0      81.0        0.0
...                  ...       ...       ...        ...
8416 2022-05-07 11:23:35     104.0     224.0        0.0
8417 2022-05-07 11:23:36     104.0     218.0        0.0
8418 2022-05-07 11:23:37     104.0     218.0        0.0
8419 2022-05-07 11:23:38     104.0     222.0        0.0
8420 2022-05-07 11:23:39     104.0     222.0        0.0

[8421 rows x 4 columns]

In [115]:
allData = allData.merge(loadcells, how = 'left', left_on='timeStamp', right_on='timeStamp')

In [116]:
allData.rename(columns={'timeStamp': 'time'}, inplace=True)

In [120]:
allData

,time,latitude,longitude,speed,HDG,COG,Heel,mastGate,Backstay,Forestay,Mainsheet
0,2022-05-07 09:05:51,-33.847310,151.220446,0.170147,251.87,252.17,1.80,13.353304,54.0,79.0,0.0
1,2022-05-07 09:05:52,-33.847309,151.220405,0.314067,250.14,250.23,1.71,16.678742,54.0,79.0,0.0
2,2022-05-07 09:05:53,-33.847311,151.220382,0.431198,250.27,250.27,1.81,12.212862,52.0,71.0,0.0
3,2022-05-07 09:06:07,-33.847221,151.220215,1.232110,330.89,332.86,-7.16,13.216321,0.0,81.0,0.0
4,2022-05-07 09:06:08,-33.847327,151.219893,1.085690,334.25,334.12,-7.77,13.230019,0.0,81.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8961,2022-05-07 11:35:18,-33.847696,151.220158,0.041627,187.33,187.27,0.21,NaN,NaN,NaN,NaN
8962,2022-05-07 11:35:19,-33.847696,151.220158,0.053823,187.23,187.28,-0.23,NaN,NaN,NaN,NaN
8963,2022-05-07 11:35:20,-33.847696,151.220158,0.044265,187.22,187.22,-1.36,NaN,NaN,NaN,NaN
8964,2022-05-07 11:35:21,-33.847696,151.220158,0.041752,187.82,187.75,-0.37,NaN,NaN,NaN,NaN
8965,2022-05-07 11:35:22,-33.847696,151.220158,0.050318,188.36,188.32,-0.16,NaN,NaN,NaN,NaN

In [118]:
allData.to_csv(os.path.join(out_dir,'allData_07.csv'))